# Benefits of Playing Chess
Written by John Doe
---
## Table of contents
1. Introduction
2. Table
3. Unordered Lists
4. Ordered Lists
5. Code Block
6. Block Quotes
---
## 1. Introduction
Playing board games is a fun activity that is enjoyed all over the world. Anyone can enjoy a board game regardless of where you are in life. Many of you might have heard of board games such as Monopoly, Snakes and ladders, Scrabble, Connect Four, and many others. However, there is one board game that stands out from the rest. It is one of the oldest board games that has been played. Nowadays, people play it in tournaments and professional players of this game spend hundreds of hours mastering the game. As a matter of fact, the game has become so popular that it is also played by computer robots. Chess is a strategy game whereby players control a set of chess pieces on an 8 by 8 square board. The objective of the game is simple: win by checkmating your opponent's king. But the game itself is anything but simple. Professional chess players are known to have increased memory skills, improved pattern recognition skills, and a wider perspective.

Here is ***bitalics*** **bold** and *italics* and here is a [link to Google](www.google.com)

Hey look, there is some `inline code`
---
## 2. Table
Here is a table of people's hobbies:

| Name | Age | Hobby |
| ---- | --- | ----- |
| Bryn | 20  | coding |
| Max  | 10  | swimming |
| Hansel | 40 | chess |
| George | 29 | chess |
---
## 3. Unordered lists
This is how you would write Unordered Lists
* Root 1
* Root 2
    * Child 1
        * Grandchild 1
* Root 3
    * Child 1
        * Grandchild 1
---
## 4. Ordered lists
1. Number One, hey there is *italics*
2. Number Two, here there is **bold**
3. Number Three
    1. Inner One
    2. Inner Two
    3. Inner Three
        1. Inner Inner 1
4. Number 4
    1. Inner One
    2. Inner Two
---
## 5. Codeblock
```
void hello(const std::string& name) {
    std::cout << "Hello, " << name << std::endl;
}

#include <iostream>

int main() {
    std::string name = "Bryn";
    hello(name);
}
```
This concludes the block
---
## 6. Block Quotes
The following is an example of a blockquote
> Playing chess is much more sophisticated than looking at the board and moving pieces around. It requires a thorough understanding of the game, which can be reached by memorization. Professional chess players memorize combinations of moves and their effects on the game in order to maximize their chances of winning.
>> They memorize traps by the opponent, ideas of how to coordinate pieces, and past games where the player failed to make the correct move and where the player succeeded in making the correct one.
> It is possible to apply this exact same idea when dealing with problems in real life.
>> For example, by finding out the traps, you can find the mistakes that are easy to make and are detrimental to your goals.
>>> The necessity to make the best move/decision naturally gravitates you toward memorizing the outcome of your decisions.